body{
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Rubick', sans-serif;
}

.navbar{
	background-color: #3399ff;
}

.navbar-inverse .navbar-brand{
	color: white;
	font-family: 'Rubick', sans-serif;
	font-weight: 900;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-family: 'Rubick', sans-serif;
	font-weight: 900;
}

.intro{;
  	text-align: center;
}

.content{
	vertical-align: middle;
	color: black;
}

.header1{
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 100px;
	margin-top: 125px;
}

.modal{
	text-align: center;
	top: 30%;
}

.modal-title{
	font-weight: 800;
}

.modalinput{
	width: 40%;
	padding-left: 3px;
}

.modal-footer{
	text-align: center;
}

.btn{
	font-size: 14px;
	border-radius: 24px;
	width: 30%;
	font-weight: 800;
}

#inputfile{
	margin-left: 45%;
	margin-bottom: 50px;
}

#linker{
	margin: auto;
	width: 25%;
}

#Start{
	width:100px;
}

.btn:focus {
  	outline: none;
}
